.calc-body {
  max-width: 400px;
  margin: auto;
}
.result {
  height: 60px;
  background-color: #bbb;
  width: 100%;
}
.result p {
  font-size: 40px;
}
.button {
  display: block;
  background-color: #fff;
}
.button button {
  width: 25%;
  height: 60px;
  font-size: 30px;
}
.values {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}
